* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

nav a {
    font-weight: 700;
}

.header-font {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.content-font {
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
}

.content {
    padding: 16px;
}

.content p {
    font-weight: 400;
    color: #5a5a5a;
    overflow: hidden;
}

.content h3 {
    font-weight: 600;
    color: rgb(50, 50, 50);
}

.footer {
    background-color: #1F1717;
    padding: 50px;
    margin-top: 50px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    padding: 15px;
    width: 50%;
}

.footer-col h3 {
    color: #FCF5ED;
    font-style: normal;
    font-weight: bold;
}

.footer li {
    color: #CE5A67;
    font-style: normal;
}

ul {
    list-style: none;
    padding-left: 0;
}

.main {
    text-align: center;
    margin-top: 50px;
}

.main-header {
    font-weight: bold;
}

.subject-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 32px;
}

.subject {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    transition: 0.6s;
    width: 325px;
}

.subject:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.subject img {
    width: 100%;
    height: auto;
}

#header-container {
    background-color: #CE5A67;
    padding: 50px;
    text-align: center;
}

#header-container h4 {
    color: #1F1717;
}

.header {
    color: #FCF5ED;
    font-style: normal;
    font-size: 3rem;
    font-weight: bold;
}
